#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/gnome-pkg-tools/1/rules/uploaders.mk

DEB_DH_MAKESHLIBS_ARGS_libmutter0 += -V
DEB_INSTALL_DOCS_mutter += doc/theme-format.txt
